swagger: "2.0"
info:
  description: "Payment gateway sample application (Solanteq practice task)"
  version: "1.0"
  title: "Payment Gateway API"
host: "gateway.solanteq.com"
basePath: "/v1"
tags:
  - name: customer
    description: Customer-side actions
  - name: bank
    description: Bank-side actions
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /invoice:
    post:
      description: Adds an invoice
      tags:
        - customer
      operationId: addInvoice
      parameters:
        - in: body
          name: invoicePostView
          required: true
          schema:
            $ref: '#/definitions/InvoicePostView'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/InvoiceView'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorView'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorView'
  '/invoice/{invoiceId}':
    get:
      description: Gets an invoice
      tags:
        - customer
      operationId: getInvoiceStatus
      parameters:
        - $ref: '#/parameters/InvoiceId'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TransactionReadinessView'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorView'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorView'
    post:
      description: Creates a transaction
      tags:
        - customer
      operationId: createTransaction
      parameters:
        - $ref: '#/parameters/InvoiceId'
        - in: body
          name: creditCard
          required: true
          schema:
            $ref: '#/definitions/CreditCardView'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorView'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorView'
  '/transaction/{transactionId}':
    put:
      description: Updates transaction status
      tags:
        - bank
      operationId: updateTransactionStatus
      parameters:
        - $ref: '#/parameters/TransactionId'
        - in: body
          name: transactionStatus
          required: true
          schema:
            $ref: '#/definitions/TransactionStatusView'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorView'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorView'
definitions:
  InvoicePostView:
    type: object
    properties:
      sum:
        type: number
        format: double
        minimum: 0
        description: The amount of the transaction
    description: The invoice as viewed by a client
  InvoiceView:
    allOf:
      - type: object
        properties:
          id:
            type: integer
            format: int64
            description: Invoice id
      - $ref: '#/definitions/InvoicePostView'
        description: The invoice as saved in the database
  CreditCardView:
    type: object
    properties:
      invoiceId:
        type: integer
        format: int64
        description: Invoice id
      number:
        type: integer
        format: int64
        minimum: 100000000000000
        description: The number that identifies the card
      expirationDate:
        type: string
        pattern: '^\d{2}/\d{2}$'
        description: Date of card's expiration
      holder:
        type: string
        minLength: 1
        maxLength: 100
        description: Holder's name
      cvv:
        type: string
        pattern: '^\d{3}$'
        description: Card's cvv
    description: Credit card information
  TransactionReadinessView:
    type: object
    properties:
      type:
        type: string
        enum:
          - UNKNOWN
          - WAITING_FOR_BANK_RESPONSE
          - PROCESSING
          - SUCCESS
          - FAIL
        description: This string will be transformed into a human-readable one for the client
    description: Information on the transaction's status for the client
  TransactionStatusView:
    type: object
    properties:
      answerCode:
        type: integer
        minimum: 0
        description: Answer code from the bank
    description: Information on the transaction's status for the inner use
  ErrorView:
    type: object
    properties:
      code:
        type: integer
        description: Error code
      message:
        type: string
        description: Error message
    description: Describes an error
parameters:
  InvoiceId:
    in: path
    name: invoiceId
    type: integer
    format: int64
    required: true
    description: Invoice id
  TransactionId:
    in: path
    name: transactionId
    type: integer
    format: int64
    required: true
    description: Transaction id